{% assign repository = include.repository %}
{% assign repo_split = repository | split: '/' %}
{% assign owner = repo_split[0] %}
{% assign repo_name = repo_split[1] %}
{% assign cache_name = repository | replace: '/', '__' %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ owner }}/{{ repo_name }}" rel="external nofollow noopener" target="_blank">
    <img
      class="only-light w-100"
      alt="{{ repository }}"
      src="{{ '/assets/img/repositories/' | append: cache_name | append: '--light.svg' | relative_url }}"
    >
    <img
      class="only-dark w-100"
      alt="{{ repository }}"
      src="{{ '/assets/img/repositories/' | append: cache_name | append: '--dark.svg' | relative_url }}"
    >
  </a>
</div>
